<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adding a new Questionarey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="./compareTwoQuestionares.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="header">Comapre 2 Questionares</h1>
            <div class="row">
                <div class="input-field col s6">
                    <h4 class="header"><p id="nameQuestionare"></p></h4>
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <input type="email" id="email_1" class="validate" >
                                </div>
                                <div class="col">
                                    <button id="generate_1" class='btn-small'><i class='material-icons right'>upload</i>Upload questionare </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <input type="email" id="email_2" class="validate" >
                                </div>
                                <div class="col">
                                    <button id="generate_2" class='btn-small'><i class='material-icons right'>upload</i>Upload questionare </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p hidden id="error_1" class="validate" ></p>
                        </td>
                        <td>
                            <p hidden id="error_2" class="validate" ></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form id="fill_questionare_1"></form>
                        </td>
                        <td>
                            <form id="fill_questionare_2"></form>
                        </td>
                    <tr>
            </tbody>
        </table>
    </div>
</body>
</html>