<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('partial/navigator.ejs') %>
    <meta name="viewport" http-equiv="X-UA-Compatible" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D2C- Data to See</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>  
        .page-title {
            font-size: 24px;
            color: red;
        }
        .lala {
            width: 80%;
            height: 40px;
            background-color: grey;
        }
        .gaga {
            width:2068px;
            max-height: 950px;
            display: flex;
            justify-content: center;
        }
        .sqs-block {
            padding-top: 10;
            padding-left: 17px;
            padding-right: 17px;
            padding-bottom: 50px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .button-questionare {
            padding-top: 20;
            padding-left: 17px;
            padding-right: 20px;
            padding-bottom: 25px;
            height: auto;
            position: absolute;
            top:60%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #4e5a51 ;
        }
        .button-users {
            padding-top: 20;
            padding-left: 25px;
            padding-right: 20px;
            padding-bottom: 25px;
            height: auto;
            position: absolute;
            top: 60%;
            left:35%;
            transform: translate(-50%, -50%);
            color: #4e5a51 ;
        }
        .button-upload {
            padding-top: 20;
            padding-left: 30px;
            padding-right: 20px;
            padding-bottom: 25px;
            height: auto;
            position: absolute;
            top: 60%;
            left:65%;
            transform: translate(-50%, -50%);
            color: #4e5a51 ;
        }
        .page {
            position: absolute;
            width:100%;
            min-height: 700px;
            padding-left: 1cm;
            padding-right: 1cm;
            padding-top: 1cm;
            display: flex;
            justify-content: center;
            background-color: #88584e;
        }
        .constraction{
            padding-top: 20;
            padding-left: 17px;
            padding-right: 20px;
            padding-bottom: 25px;
            height: auto;
            position: absolute;
            top:60%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: #ebe6e2 ;
        }
    </style>
</head>
<body >
    <div class="gaga">
        <img src="https://images.squarespace-cdn.com/content/v1/6128185792cf011f096258ed/9e453918-f0e9-4870-a365-b29f2d7cdc9f/joshua-newton-2Ihxa-wyMY4-unsplash.jpg?format=2500w" 
        style="max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        padding-top:5.5vmax;
        padding-right:5vw;
        padding-bottom:5.5vmax;
        padding-left: 5vw;">
            <div class="sqs-block" style="color: #ebe6e2" font-family="Pontano Sans;">
                <h3>Welcome to Data to See</h3>
            </div>
            
        </div>
        <div class="page">  
            <div style="color: #ebe6e2;  padding-right: 1cm;" font-family="Pontano Sans;" >
                <h3>What is D2C?</h3>
                <p>
                    D2C (or Data to See) is an online platform that help therapists diagnose, test and finally produce reports about their patients.
                    <br/>
                    It's a free software server based web that was build using Express, NodeJS, MongoDB, Okta registration and was written in typescript.
                    <br/>
                </p>
                <br/>
                <br/>
                <h3>What makes D2C special?</h3>
                <p style="padding-right: 1cm;">
    <b>1. D2C is a free software1. D2C is a free software</b><br/>
    D2C is a free online website, that any therapist can request access to use for free of charge! (By "Contact us" in the navigator bar)<br/>
    
    <b>2. D2C provides statistical calculations of neuropsychological assessment tests</b><br/>
    D2C has an online calculator for various of neuropsychological assessment tests. By giving the patient's age, gender and years of education, can evaluate the performance of a certain individual in those neuropsychological testing.<br/>
    
    <b>3. D2C allows therapist to upload CSV with statistical calculations to be saved</b><br/>
    This platform can interpet a csv file with statistical data about their patient and save the information for later use.<br/>
    
    <b>4. D2C allows patients to fill questionares about themselves in their on free time</b><br/>
    D2C gives you a easy way to deal with filling out the questionares! As a therpaist you can send your parient an email with links to all the questionares you'd like him to fill, allowing you to save some time in the process of evaluating him.<br/>
    
    <b>5. D2C can compare the results of filled questionare during periouds of time</b><br/>
    Given an user's hash value, the therapist can compare the answers of their patient from different time the filled it, allowing the therapist to see the progress they made during that period of time.<br/>
    
    <b>6. D2C helps you produce an automatic report about your patient</b><br/>
    By selecting saved filled questionares and saved calculated neuropsychological testing results, this platform produces a report stating the results of the patient,
    <br/>providing insights about his performance and generating text that helps the therapist with writing and producing the final assesment report for their patient.
    D2C is a free online website, that any therapist can request access to use for free of charge! (By "Contact us" in the navigator bar)<br/>
                </p>
            </div>
            <div style="color: #ebe6e2;" font-family="Pontano Sans;">
                <h3>Features of this website</h3>
                    <p><b>As a registered User of the website:</b>
                        <ul>
                            <li># Filling a Questionare via a link sent to the user by the therapist</li>
                            <li># Seeing the methods this site is using</li>
                            <li># Download an example report</li>
                            <li># Rate this website</li>
                            <li># Contact Us</li>
                        </ul>
                    </p>
                    <p><b>As a Therpaist:</b>
                        <ul>
                            <li> # Listing all my patients</li>
                            <li> # Add/Delete a new patient</li>
                            <li> # Fill out a questionare for my patient</li>
                            <li> # Compare 2 Filled questionares of the same patient</li>
                            <li> # Upload a CSV file with my patient statistical data to be saved</li>
                            <li> # Claculate the results of my patient in various neuropsychological assessment tests</li>
                            <li> # Save the calulations of the patient in various neuropsychological assessment tests</li>
                            <li> # Choosing saved data of the patient for producing a report</li>
                            <li> # Edit the automated generated report for the patient</li>
                            <li> # Download the edited report of my patient as a docx file</li>
                            <li> # Send an Email to my patient with questionares you want them to fill</li>
                            <li> # Everyting a user can do</li>
                        </ul>
                    </p>
                    <p><b>As an Admin:</b>
                        <ul>
                            <li> # List all the patients in this site</li>
                            <li> # Adding a new questionare that therapists can use</li>
                            <li> # Editing an existing questionare</li>
                            <li> # Deleting questionare</li>
                            <li> # Promoting new users to therapists status</li>
                            <li> # Everyting a therapist can do</li>
                        </ul>
                    </p>
                </ul>
            </div>
            <div class="divider"></div>
        </div>
          
</body>
</html>