<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Hello <% if ( user ) { %><%= user.name %>,<%}%> welcome to Data To See</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if ( isAuthenticated ) { %>
            <li class="nav-item"><a href="/logout">Logout</a></li>
            <% } %>
            <% if ( !isAuthenticated ) { %>
            <li class="nav-item"><a href="/login">Login</a></li>
            <% } %>
            <li class="nav-item"> <a href="/listQuestionare">Questionare</a><ul>
            <li><a href="/questionare">Add new Questionar</a></li>
            </ul>
            </li>
        </ul>
    </div>
</nav>