<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Hello <% if ( user ) { %><%= user.name %>,<%}%> welcome to Data To See</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/questionare">questionare</a></li>
            <% if ( !isAuthenticated ) { %>
            <li><a href="/upload CSV">upload CSV</a></li>
            <% } %>
            <% if ( isAuthenticated ) { %>
            <li><a href="/logout">Logout</a></li>
            <% } %>
            <% if ( !isAuthenticated ) { %>
            <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>