<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div>
        <script src="../mail.js"></script>
        <form action="https://formsubmit.co/michellerabkin223@gmail.com" method="POST">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_subject" value="New Mail - D2C!">
            <!-- <input type="hidden" name="_cc" value="avri223@walla.com"> -->
            <input type="email" name="email" placeholder="Email Address" required>
            <!-- <input type="hidden" name="_next"  value="https://localhost:8080/thankYou" href="/thankYou"> -->
            <input type="text" name="massage" placeholder="Enter your massage"  required>
            <button type="submit" onclick="window.location='/thankYou';">Send</button>
        </form>
            <!-- <h1 class="header">Contact Us</h1>
            <div>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="text" name="massage" placeholder="Enter your massage"  required>    
                <button id="sendEmail" onclick="window.location='/thankYou';" class='btn-small'><i class='material-icons right'>send</i>Send Email</button>
            </div>  -->
    </div>
</body>
</html>