<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D2C- Data to See</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../csv/manualTest.js"></script>
</head>
<body style="background-color:rgb(235, 230, 226)">

    <div class="container">
        <h1 class="header">Calculate and save Testing</h1>
        <div class="row">
            <div class="col">
                <input type="text" id="hash" class="validate" >
            </div>
            <div class="col">
                <button style="background-color: rgb(78, 90, 81);"  id="generate" class='btn-small'><i class='material-icons right'>upload</i>Upload Hash User Data</button>
            </div>
            <div class="col">
                <button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="submit1"><i class='material-icons right'>save</i>Save Results</button>
            </div>
        </div>
        <div class="row">
            <p hidden id="error" class="validate" ></p>
        </div>
    </div>
    <div class="container">
        <table>
            <tr><td><u>Current age:</u></td><td><p id="age"></p></td></tr>
            <tr><td><u>Gender:</u></td><td><p id="gender"></p></td></tr>
            <tr><td><u>Education years:</u></td><td><p id="education"></p></td></tr>
        </table>
    </div>
    <br/>
    <div class="container">
        <table id = "appendex">
            <thead>
                <th>Test Name</th>
                <th>Input</th>
                <th>Calculate</th>
                <th>Result</th>
                <th><label><input type='checkbox'  id='c_all'><span>Submit</span></label></th>
            </thead>
            <tbody>
                <tr>
                    <th>Mental Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>MMSE</td>
                    <td><input id="MMSE" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_MMSE"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_MMSE"></p></td>
                    <td><label><input type='checkbox'  id='c_MMSE'><span></span></label></td>
                </tr>
                <tr>
                    <th>General Intellectual Functioning</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>WAIS-IV Similarities</td>
                    <td><input id="WAIS5SI" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5SI"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5SI"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5SI'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Vocabulary</td>
                    <td><input id="WAIS5VC" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5VC"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5VC"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5VC'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Information</td>
                    <td><input id="WAIS5IN" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5IN"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5IN"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5IN'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Comprehension</td>
                    <td><input id="WAIS5CO" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5CO"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5CO"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5CO'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Verbal Comprehension Index</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5VCI"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5VCI"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5VCI'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Block Design</td>
                    <td><input id="WAIS5BD" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5BD"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5BD"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5BD'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Matrix Reasoning</td>
                    <td><input id="WAIS5MR" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5MR"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5MR"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5MR'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Visual Puzzles</td>
                    <td><input id="WAIS5VP" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5VP"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5VP"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5VP'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Figure Weights</td>
                    <td><input id="WAIS5FW" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5FW"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5FW"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5FW'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Picture Completion</td>
                    <td><input id="WAIS5PCm" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5PCm"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5PCm"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5PCm'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Perceptual Reasoning Index</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5PRI"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5PRI"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5PRI'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Digit Span</td>
                    <td><input id="WAIS5DS" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5DS"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5DS"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5DS'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Arithmetic</td>
                    <td><input id="WAIS5AR" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5AR"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5AR"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5AR'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Letter Numbering</td>
                    <td><input id="WAIS5LN" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5LN"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5LN"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5LN'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Working Memory Index</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5WMI"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5WMI"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5WMI'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Symbol Search</td>
                    <td><input id="WAIS5SS" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5SS"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5SS"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5SS'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Coding</td>
                    <td><input id="WAIS5CD" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5CD"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5CD"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5CD'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Cancellation</td>
                    <td><input id="WAIS5CA" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5CA"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5CA"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5CA'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Processing Speed Index</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5PSI"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5PSI"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5PSI'><span></span></label></td>
                </tr>
                <tr>
                    <td>WAIS-IV Full Scale IQ</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WAIS5FSIQ"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WAIS5FSIQ"></p></td>
                    <td><label><input type='checkbox'  id='c_WAIS5FSIQ'><span></span></label></td>
                </tr>
                <tr>
                    <th>Premorbid Intellectual Functioning</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Test of Nonverbal Intelligence-4</td>
                    <td><input id="TONI4" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_TONI4"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_TONI4"></p></td>
                    <td><label><input type='checkbox'  id='c_TONI4'><span></span></label></td>
                </tr>
                <tr>
                    <th>Attention and Concentration</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Trials A</td>
                    <td><input id="TrialsA" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_TrialsA"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_TrialsA"></p></td>
                    <td><label><input type='checkbox'  id='c_TrialsA'><span></span></label></td>
                </tr>
                <tr>
                    <td>Trials B</td>
                    <td><input id="TrialsB" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_TrialsB"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_TrialsB"></p></td>
                    <td><label><input type='checkbox'  id='c_TrialsB'><span></span></label></td>
                </tr>
                <tr>
                    <td>Stroop Word</td>
                    <td><input id="StroopWords" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_StroopWords"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_StroopWords"></p></td>
                    <td><label><input type='checkbox'  id='c_StroopWords'><span></span></label></td>
                </tr>
                <tr>
                    <td>Stroop Color</td>
                    <td><input id="StroopColor" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_StroopColor"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_StroopColor"></p></td>
                    <td><label><input type='checkbox'  id='c_StroopColor'><span></span></label></td>
                </tr>
                <tr>
                    <td>Stroop Color-Word</td>
                    <td><input id="StroopCW" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_StroopColorWords"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_StroopColorWords"></p></td>
                    <td><label><input type='checkbox'  id='c_StroopColorWords'><span></span></label></td>
                </tr>
                <tr>
                    <td>ACT</td>
                    <td>
                        <table>
                            <tbody>
                                <tr><th>ACT9</th><td><input id="ACT9" type="text"></td></tr>
                                <tr><th>ACT18</th><td><input id="ACT18" type="text"></td></tr>
                                <tr><th>ACT36</th><td><input id="ACT36" type="text"></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_ACT"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_ACT"></p></td>
                    <td><label><input type='checkbox'  id='c_ACT'><span></span></label></td>
                </tr>
                <tr>
                    <th>Visuospatial Functioning</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Hooper Visual Organization Test</td>
                    <td><input id="Hooper" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_Hooper"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_Hooper"></p></td>
                    <td><label><input type='checkbox'  id='c_Hooper'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey-Osterrieth Complex Figure immediate</td>
                    <td><input id="ROCFIR" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_ROCFIR"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_ROCFIR"></p></td>
                    <td><label><input type='checkbox'  id='c_ROCFIR'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey-Osterrieth Complex Figure delayed</td>
                    <td><input id="ROCFDR" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_ROCFDR"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_ROCFDR"></p></td>
                    <td><label><input type='checkbox'  id='c_ROCFDR'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey-Osterrieth Complex Figure recognition</td>
                    <td><input id="ROCFRec" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_ROCFRec"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_ROCFRec"></p></td>
                    <td><label><input type='checkbox'  id='c_ROCFRec'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey-Osterrieth Complex Figure copy</td>
                    <td><input id="ROCFCopy" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_ROCFCopy"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_ROCFCopy"></p></td>
                    <td><label><input type='checkbox'  id='c_ROCFCopy'><span></span></label></td>
                </tr>
                <tr>
                    <th>Speech and Language</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Boston Naming Test</td>
                    <td><input id="BNT" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_BNT"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_BNT"></p></td>
                    <td><label><input type='checkbox'  id='c_BNT'><span></span></label></td>
                </tr>
                <tr>
                    <td>Categorical Fluency (Animal Naming)</td>
                    <td><input id="Animals" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_Animals"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_Animals"></p></td>
                    <td><label><input type='checkbox'  id='c_Animals'><span></span></label></td>
                </tr>
                <tr>
                    <td>Phonemic Fluency (FAS)</td>
                    <td><input id="FAS" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_FAS"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_FAS"></p></td>
                    <td><label><input type='checkbox'  id='c_FAS'><span></span></label></td>
                </tr>
                <tr>
                    <th>Verbal Memory</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 1</td>
                    <td><input id="RAVLTT1" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT1"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT1"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT1'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 2</td>
                    <td><input id="RAVLTT2" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT2"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT2"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT2'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 3</td>
                    <td><input id="RAVLTT3" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT3"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT3"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT3'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 4</td>
                    <td><input id="RAVLTT4" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT4"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT4"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT4'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 5</td>
                    <td><input id="RAVLTT5" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT5"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT5"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT5'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial 1 to 5</td>
                    <td></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTT1to5"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTT1to5"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTT1to5'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Trial B</td>
                    <td><input id="RAVLTTB" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTTB"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTTB"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTTB'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Short Delay</td>
                    <td><input id="RAVLTShortDelay" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTShortDelay"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTShortDelay"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTShortDelay'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test Long Delay</td>
                    <td><input id="RAVLTLongDelay" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTLongDelay"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTLongDelay"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTLongDelay'><span></span></label></td>
                </tr>
                <tr>
                    <td>Rey Auditory Verbal Learning Test recognition</td>
                    <td><input id="RAVLTRec" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RAVLTRec"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RAVLTRec"></p></td>
                    <td><label><input type='checkbox'  id='c_RAVLTRec'><span></span></label></td>
                </tr>
                <tr>
                    <td>WMS-IV Logical Memory I</td>
                    <td><input id="WMS4LM1" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4LM1"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4LM1"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4LM1'><span></span></label></td>
                </tr>
                <tr>
                    <td>WMS-IV Logical Memory II</td>
                    <td><input id="WMS4LM2" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4LM2"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4LM2"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4LM2'><span></span></label></td>
                </tr>
                <tr>
                    <td>WMS-IV Logical Memory Recog.</td>
                    <td><input id="WMS4LMRec" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4LMRec"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4LMRec"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4LMRec'><span></span></label></td>
                </tr>
                <tr>
                    <th>Visual Memory</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>WMS-IV Visual Repro. I</td>
                    <td><input id="WMS4VR1" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4VR1"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4VR1"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4VR1'><span></span></label></td>
                </tr>
                <tr>
                    <td>WMS-IV Visual Repro. II</td>
                    <td><input id="WMS4VR2" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4VR2"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4VR2"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4VR2'><span></span></label></td>
                </tr>
                <tr>
                    <td>WMS-IV Visual Repro. Recog.</td>
                    <td><input id="WMS4VRRec" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_WMS4VRRec"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_WMS4VRRec"></p></td>
                    <td><label><input type='checkbox'  id='c_WMS4VRRec'><span></span></label></td>
                </tr>
                <tr>
                    <th>Frontal Systems and Executive Functioning</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Booklet Category Test</td>
                    <td><input id="Booklet" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_Booklet"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_Booklet"></p></td>
                    <td><label><input type='checkbox'  id='c_Booklet'><span></span></label></td>
                </tr>
                <tr>
                    <td>Short Category Test</td>
                    <td><input id="SCT" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_SCT"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_SCT"></p></td>
                    <td><label><input type='checkbox'  id='c_SCT'><span></span></label></td>
                </tr>
                <tr>
                    <td>Ruff Figural Fluency Total Designs</td>
                    <td><input id="RFFTSD" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RFFTSD"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RFFTSD"></p></td>
                    <td><label><input type='checkbox'  id='c_RFFTSD'><span></span></label></td>
                </tr>
                <tr>
                    <td>Ruff Figural Fluency Error Ratio</td>
                    <td>Enter Correct N. of designs:<input id="RFFTerr" type="text"></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_RFFTER"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_RFFTER"></p></td>
                    <td><label><input type='checkbox'  id='c_RFFTER'><span></span></label></td>
                </tr>
                <tr>
                    <th>Effort and Motivation</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>B-Test</td>
                    <td>
                        <div class="row">
                            <div class="input-field"><input id="BTest1" type="text"></div>
                            <div class="input-field" >
                                <select name="BTest2" id="BTest2" class="browser-default" style="background-color:rgb(235, 230, 226)">
                                    <option value ="Nonclinical">Nonclinical</option>
                                    <option value ="Depression">Depression</option>
                                    <option value ="Schizophrenia">Schizophrenia</option>
                                    <option value ="Stroke">Stroke</option>
                                    <option value ="Learning Disability">Learning Disability</option>
                                    <option value ="Combined">Combined</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_BTest"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_BTest"></p></td>
                    <td><label><input type='checkbox'  id='c_BTest'><span></span></label></td>
                </tr>
                <tr>
                    <td>Dot Counting Test</td>
                    <td>
                        <div class="row">
                            <div class="input-field"><input id="DCT1" type="text"></div>
                            <div class="input-field" >
                                <select name="DCT2" id="DCT2" class="browser-default" style="background-color:rgb(235, 230, 226)">
                                    <option value ="Nonclinical">Nonclinical</option>
                                    <option value ="Depression">Depression</option>
                                    <option value ="Schizophrenia">Schizophrenia</option>
                                    <option value ="Stroke">Stroke</option>
                                    <option value ="Learning Disability">Learning Disability</option>
                                    <option value ="Combined">Combined</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_DCT"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_DCT"></p></td>
                    <td><label><input type='checkbox'  id='c_DCT'><span></span></label></td>
                </tr>
                <tr>
                    <td>Test of Memory Malingering (TOMM)</td>
                    <td><table>
                        <tbody>
                            <tr><th>1st try</th><td><input id="TOMM1" type="text"></td></tr>
                            <tr><th>2nd try</th><td><input id="TOMM2" type="text"></td></tr>
                        </tbody>
                    </table></td>
                    <td><button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="b_TOMM"><i class='material-icons right'>calculate</i>Calculate</button></td>
                    <td><p id="r_TOMM"></p></td>
                    <td><label><input type='checkbox'  id='c_TOMM'><span></span></label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div class="container">
        <button style="background-color: rgb(78, 90, 81);"  class='btn-small' id="submit2"><i class='material-icons right'>save</i>Save Results</button>
    </div>
    <br/>
    <br/>
</body>
</html>