<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .page {
            position: absolute;
            width:2120px;
            min-height: 155px;
            display: flex;
            justify-content: center;
        }
        .about-us {
            padding-top: 20;
            padding-left: 17px;
            padding-right: 20px;
            padding-bottom: 25px;
            height: auto;
            position: absolute;
            top:60%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: #4e5a51 ;
        }
        .page-green {
            position: absolute;
            width:1680px;
            min-height: 180px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body style="background-color:rgb(235, 230, 226)">
    <div class="page" style="background-color: rgb(233, 225, 219);">
            <script src="../about.js"></script>
            <div class="about-us">
                <h3>About Us</h3>
                <div class="page-green" style="background-color: rgb(209, 196, 189)">
                <h6 style="padding-left: 34px;">MICHELLE & AVITAL :)</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>