<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">Send Email With Questionares</h1>
        <script src="../questionare/sendEmail.js"></script>
        <div class="row">
            <div class="col">
                <input type="email" id="email" class="validate" >
            </div>
            <div class="col">
                <button id="sendEmail" onclick="window.location='/thankYou';" class='btn-small'><i class='material-icons right'>send</i>Send Email</button>
            </div>
        </div>
        <div class="row" id="List">
            <form id="listToSend">
            </form>
        </div>
    </div>
</body>
=======
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">Send Email With Questionares</h1>
        <script src="../questionare/sendEmail.js"></script>
        <div class="row">
            <div class="col">
                <input type="email" id="email" class="validate" >
            </div>
            <div class="col">
                <button id="sendEmail" class='btn-small'><i class='material-icons right'>send</i>Send Email</button>
            </div>
        </div>
        <div class="row" id="List">
            <form id="listToSend">
            </form>
        </div>
    </div>
</body>
>>>>>>> 767a171ff622f5df34bd7a6ba9db61b45bcec495
</html>