<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <%- include('../partial/navigator.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D2C- Data to See</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../sendEmail.js"></script>
</head>
<body style="background-color:rgb(235, 230, 226)">
    <div>
        <h1>Thank you!</h1>
        <p>Successfully Submitted.</p>
    </div>
</body>
</html>